body {
    height: 101%;
}

div.category {
    padding: 10px;
    background-color: #2b669a;
}

div.content {
    height: 2000px;
    background-color: #999999;
    background-image: url("../img/bg.jpg");
}
