/*-  palette

----------------------------------------------------------------------*/
/*-  normalize everything
----------------------------------------------------------------------*/

/* normalize margin, padding */
html, body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, input,
p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* normalize font-size for headers */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* remove list-style from lists */
ol, ul {
    list-style: none;
}

/* normalize font-style and font-weight to normal */
address, caption, cite, code, dfn,
th, var {
    font-style: normal;
    font-weight: normal;
}

/* remove table border spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* remove border from fieldset and img */
fieldset, img {
    border: 0;
}

/* left-align text in caption adn th */
caption, th {
    text-align: left;
}

a:active, a:focus {
    outline: none ! important;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

/*-  common elements
----------------------------------------------------------------------*/
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    color: #616161;
    line-height: 1.6em;
    background-color: #f2f2f2;
}

a:link,
a:visited {
    text-decoration: none;
    color: #1d96b8;
}

a:hover {
    color: #f87100;
}

h1 {
    color: #1e1918;
    font-size: 46px;
    letter-spacing: -2px;
    line-height: 1em;
    margin-bottom: 0.4em;
    margin-left: -2px;
}

h2 {
    color: #1a1a1a; /*#1d96b8;*/
    font-size: 19px;
    line-height: 1em;
    margin-bottom: 0.8em;
    padding-bottom: 6px;
    border-bottom: solid 1px #e9e9e9;
    text-transform: uppercase;
}

h3 {
    color: #1a1a1a;
    font-size: 12px;
    margin-bottom: 3px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
}

h5 {
    font-family: lucida grande, helvetica, arial, sans-serif;
    color: #1a1a1a;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0.6em;
}

textarea {
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
}

/*-  top
----------------------------------------------------------------------*/
#top {
    background-color: #161616;
    height: 31px;
    font-family: tahoma, helvetica, arial, sans-serif;
    color: #6a6a6a;
    font-size: 10px;
    line-height: 1em;
}

#noticeTop p {
    float: left;
}

#noticeTop .inner p {
    margin-left: 400px;
    padding-top: 11px;
}

#noticeTop {
    background-color: #900;
    font-weight: bold;
    height: 40px;
    font-family: tahoma, helvetica, arial, sans-serif;
    color: #FFF;
    font-size: 17px;
    line-height: 1em;
}

#noticeTop a:link,
#noticeTop a:visited {
    text-decoration: underline;
    color: #FF9;
}

#noticeTop a:hover {
    color: #fff;
}

#m01 {
    font-size: 12px;
}

#top .inner,
#header .gutter,
#wrapper .inner,
#footer .inner {
    width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

#header .inner {
    width: 900px;
}

#top .inner p {
    margin-left: 475px;
    padding-top: 11px;
}

#top a {
    font-size: 12px;
}

#top a:link,
#top a:visited {
    color: #1d96b8;
}

#top a:hover {
    color: #fff;
}

#top p {
    float: right;
}

#header {
    background-color: #fff;

}

#header .inner {
    position: relative;
    padding-top: 29px;
    padding-bottom: 20px;
    height: 75px;
    border-bottom: solid 1px #e9e9e9;
}

img#logo {
    margin-left: 16px;
}

#wrapper {
    background: transparent url(images/back.gif);
    background-color: #ffffff;
    border-bottom: solid 1px #ccc;
    min-height: 415px;
}

#wrapper .inner {
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: 500px;
}

#wrapper .inner p {

    margin-bottom: 2em;
}

#profile_left {
    float: left;
    width: 300px;
}

#profile_right {
    float: left;
    width: 600px;
}

#wrapper #main {
    width: 525px;
    float: right;
    position: relative;
}

tr.odd {
    background-color: #f0f0f0;
}

table {
    width: 100%;
}

#footer .inner {
    font-family: tahoma, helvetica, arial, sans-serif;
    color: #bbbbb4;
    font-size: 10px;
    padding: 20px 0 40px;
}

#footer a:link,
#footer a:visited {
    color: #bbbbb4;
}

#footer a:hover {
    color: #616161;
}

#footer p#contact {
    float: left;
}

#footer p#copyright {
    float: right;
}

#footer p#copyright img {
    position: relative;
    top: -1px;
}

/*-  navigation
----------------------------------------------------------------------*/

ul#nav {
    /*position: absolute;
    left: 200px;

    bottom: 20px;
    */
    padding-top: 50px;
    float: right;
    font-size: 16px;
}

ul#nav li {
    font-family: tahoma, helvetica, arial, sans-serif;
    height: 12px;
    float: left;
    margin-left: 20px;
}

ul#nav li a {
    color: #656565;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    top: -1px;
}

ul#nav li a:hover {
    color: #2e2e2e;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    top: -1px;
}

ul#nav li span {
    visibility: hidden;
}

/*-  front
----------------------------------------------------------------------*/
#login-wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

#big_graphic {
    width: 900px;
    height: 250px;
    position: relative;
    top: -7px;
    margin-bottom: 13px;
}

#front_work {
    float: left;
    width: 344px;
    padding-left: 16px;
    margin-bottom: -35px;
}

#front_work img#work_arrow {
    float: left;
    position: relative;
    left: 108px;
    top: -37px;
    margin-bottom: -35px;
}

#front_news img#news_arrow {
    float: left;
    position: relative;
    left: 128px;
    top: -37px;
    margin-bottom: -35px;
}

#front_work ul#projects {
    padding-top: 5px;
}

#front_work ul#projects li img {
    left: 31px ! important;
}

#front_news {
    float: right;
    width: 495px;
    padding-left: 16px;
}

#front_news ul#news_items li {
    margin-bottom: 13px;
}

#front_news ul#news_items li .date {
    display: block;
    color: #a6acad;
    font-family: lucida grande, helvetica, arial, sans-serif;
    font-size: 10px;
}

#front_news ul#news_items li a:link,
#front_news ul#news_items li a:visited {
    color: #1d96b8;
    font-size: 29px;
    letter-spacing: -0.05em;
    line-height: 1em;
}

#front_news ul#news_items li a:hover {
    color: #616161;
}

#mini-page {
    float: left;
    width: 900px;
    padding-left: 16px;
    margin-bottom: -35px;
}

.mini-feature {
    padding: 40px 0 15px;
    float: left;
    width: 225px;
}

.update {
    font-size: 24px;
    padding: 8px 5px 5px 42px;
    line-height: 25px;
    font-weight: bold;
    background: url(down_32.png) no-repeat left center;
}

.download {
    background: url(pod32.png) no-repeat left center;
    padding: 20px 5px 5px 42px;
}

.sermon_title {
    font-size: 24px;
    letter-spacing: 1.5px;
}

.calendar {
    font-size: 24px;
    padding: 8px 5px 5px 42px;
    line-height: 25px;
    font-weight: bold;
    background: url(calendar_32.png) no-repeat left center;
}

.left_down {
    float: left;
    width: 30px;
    margin: 20px 0px 20px 20px;
}

.right_info {
    float: left;
    width: 830px;
    margin-bottom: 20px;
}

/*******/
/* Media 
---------------------------------------------------------------*/
#roster_wrap {
    float: left;
    width: 900px;
    padding-left: 16px;
    margin-bottom: -35px;
}

#media_graphic {
    width: 900px;
    height: 348px;
    position: relative;
    top: -7px;
    margin-bottom: 13px;
}

.media_link {
    margin: 10px 0px 20px 20px;
}

.media_link a:link,
.media_link a:visited {
    border: 1px solid #1d96b8;
    padding: 5px; /*Inner border size*/
}

.media_link a:hover {
    border: 1px solid #1d96b8;
    padding: 5px; /*Inner border size*/
    color: #fff;
    background: #000;
}

/*******/

/*-  good news
----------------------------------------------------------------------*/

#small_graphic {
    width: 900px;
    height: 348px;
    position: relative;
    top: -7px;
    margin-bottom: 13px;
}

#smallgroups {
    float: left;
    width: 900px;
    padding-left: 16px;
    margin-bottom: -35px;
}

#smallgroups p {
    padding: 5px;
    line-height: 1.5em;
}

img.double_border {
    border: 1px solid #bbb;
    padding: 5px; /*Inner border size*/
    background: #ddd; /*Inner border color*/
}

.roster_node {
    float: left;
    width: 900px;
    margin: 0 0 40px;
    height: 200px;

    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    color: #616161;
    line-height: 1.5em;
}

.left_image {
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 20px;
}

.left_image_2 {
    float: left;
    width: 160px;
    height: 80px;
    margin: 0 20px 20px 10px;
}

.roster_description {
    float: left;
    width: 640px;
    height: 200px;
    line-height: 30px;
    margin: 0 0 20px 10px;
}

.roster_vital {
    float: left;
    width: 640px;
}

.roster_left {
    float: left;
    width: 230px;
}

.roster_right {
    float: left;
    width: 410px;
}

.roster_name {
    color: #1a1a1a;
    font-size: 28px;
    letter-spacing: -0.04em;
    /*line-height: 1em;*/
    margin-bottom: 10px;
    width: 660px;
    /*float: left;	*/
}

.link {
    color: #1d96b8;
    letter-spacing: -0.02em;
    line-height: 1em;
}

.white {
    color: #e0e0e0;
    font-size: 11px;
}

.dark {
    color: #323232;
    font-size: 16px;
    font-weight: bold;
}

.blue {
    color: #3366cc;
}

.pink {
    color: #ff66cc;
}

.red {
    color: #ff0000;
}

.fourteen {
    font-size: 14px;
}

.pray-text {
    font-size: 14px;
    color: #383838;
    text-indent: 50px;
}

.big-container-pray {
    width: 700px;
    margin: 0 auto;
}

.container-pray {
    width: 700px;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
}

.l-prayer {
    float: left;
    width: 100px;
}

.r-prayer {
    float: left;
    width: 600px;
}

/* Media 
---------------------------------------------------------------*/
#media {
    float: left;
    width: 900px;
    padding-left: 16px;
    margin-bottom: -35px;
}

#media_graphic {
    width: 900px;
    height: 348px;
    position: relative;
    top: -7px;
    margin-bottom: 13px;
}

.media_link {
    margin: 10px 0px 20px 20px;
}

.media_link a:link,
.media_link a:visited {
    border: 1px solid #1d96b8;
    padding: 5px; /*Inner border size*/
}

.media_link a:hover {
    border: 1px solid #1d96b8;
    padding: 5px; /*Inner border size*/
    color: #fff;
    background: #000;
}

.contacticon {
    padding: 8px 0px 5px 42px;
    line-height: 25px;
    background: url(contact24.png) no-repeat left center;
}

.audio {
    font-size: 24px;
    padding: 8px 5px 5px 42px;
    line-height: 25px;
    font-weight: bold;
    background: url(disc32.png) no-repeat left center;
}

/*-  Events
----------------------------------------------------------------------*/

.left_col {
    float: left;
    width: 280px;
}

.right_col {
    float: left;
    width: 620px;
}

#col-wrapper {
    width: 900px;
    margin: 0 auto;
    background: transparent url(images/back.gif);
    background-color: #ffffff;
    padding-top: 20px;
    min-height: 600px;
}

#col-wrapper p {
    margin: 15px 0 35px;
}

h4 {

}

/*-  misc
----------------------------------------------------------------------*/
blockquote, bq {
    color: #aeb387;
    font-style: italic;
    padding: 0 ! important;
    margin: -1.5em 0 -1.5em 20px ! important;
}

.light {
    color: #a6acad;
}

ul.tightbottom li {
    margin-bottom: 0 ! important;
}

h2.topgap {
    margin-top: 50px;
}

p.buttons {
    margin-top: 12px;
}

/* */

.clear {
    clear: both;
}

#main-container {
    width: 400px;
    margin: 0 auto;
}

#form-container {
    background-color: #f5f5f5;
    padding: 15px;

    -moz-border-radius: 12px;
    -khtml-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

td {
    white-space: nowrap;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    font-family: Tahoma, Arial, Sans-serif;
}

textarea {
    color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

td > button {
    text-indent: 8px;
}

.error {
    background-color: #000000;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    width: 240px;
}

#loading {
    position: relative;
    bottom: 9px;
    visibility: hidden;
}

.tutorial-info {
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

h1.formhead {
    color: #777777;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

h2.formlow {
    font-weight: normal;
    font-size: 10px;

    text-transform: uppercase;

    color: #aaaaaa;
    margin-bottom: 15px;

    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#prayer-wrapper {
    width: 700px;
    margin: 0 auto;
    padding: 25px 0 75px 0;
}

#form-wrapper {
    width: 400px;
    margin: 0 auto;
    background: transparent url(images/back.gif);
    background-color: #ffffff;
    padding-top: 20px;
    min-height: 415px;
}

/* *? */
#featured {
    top: -7px;

    width: 580px;
    margin: 0 auto 35px;
    padding-right: 300px;
    position: relative;
    border: 10px solid #f2f2f2;
    height: 250px;
    background: #fff;
}

#featured ul.ui-tabs-nav {
    position: absolute;
    top: 0;
    left: 600px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 280px;
}

#featured ul.ui-tabs-nav li {
    padding: 1px 0;
    padding-left: 13px;
    font-size: 12px;
    color: #666;
}

#featured ul.ui-tabs-nav li img {
    float: left;
    margin: 2px 5px;
    background: #fff;
    padding: 2px;
    border: 1px solid #eee;
}

#featured ul.ui-tabs-nav li span {
    font-size: 11px;
    font-family: Verdana;
    line-height: 18px;
}

#featured li.ui-tabs-nav-item a {
    display: block;
    height: 60px;
    color: #333;
    background: #fff;
    line-height: 20px;
}

#featured li.ui-tabs-nav-item a:hover {
    background: #f2f2f2;
}

#featured li.ui-tabs-selected {
    background: url('../images/selected-item.gif') top left no-repeat;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected a {
    background: #ccc;
}

#featured .ui-tabs-panel {
    width: 600px;
    height: 250px;
    background: #999;
    position: relative;
}

#featured .ui-tabs-panel .info {
    position: absolute;
    top: 180px;
    left: 0;
    height: 70px;
    background: url('../images/transparent-bg.png');
}

#featured .info h2 {
    font-size: 21px;
    font-family: Arial, serif;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

#featured .info p {
    margin: 0 5px;
    font-family: Verdana;
    font-size: 11px;
    line-height: 15px;
    color: #f0f0f0;
}

#featured .info a {
    text-decoration: none;
    color: #fff;
}

#featured .info a:hover {
    text-decoration: underline;
}

#featured .ui-tabs-hide {
    display: none;
}

/* add in's*/
div .addright {
    float: right;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
}

div .addleft {
    float: left;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
}

.clear {
    clear: both;
}

/* div spacers */
div .middlespacer {
    width: inherit;
    height: 70px;
}

div .verticalspacer {
    float: left;
    height: 100px;
    width: 175px;
}

.smallgroupcalendar {
    font-size: 24px;
    padding: 8px 5px 5px 42px;
    line-height: 25px;
    font-weight: bold;
    background: url(smcalendar.png) no-repeat left center;
}

.bulletin {
    font-size: 24px;
    padding: 8px 5px 5px 42px;
    line-height: 25px;
    font-weight: bold;
    background: url(bulletin.png) no-repeat left center;
}
