
<div class="container">
    <div class="page-header">
        <h1><strong>About Us</strong></h1>
    </div>
    <div class="starter-template">
        <div class="row">

            <div class="col-lg-6" style="text-align: left">
                <strong>SHEPHERDING:</strong>
                <p>At Grace On Campus, we understand that caring for and
                    shepherding each and
                    every student is a very serious undertaking. Small groups are the primary shepherding venue at GOC.
                    The small group leaders are cared for by wise and devoted staff, who range from recent college
                    graduates to recent retirees. Our pastor is seminary-educated and devoted to full-time ministry at
                    GOC, preaching each week. Alongside him to help him make important ministry decisions is a core
                    group of senior staff and assistant pastors, all of whom have been affirmed as deacons or elders at
                    Grace Community Church.
                </p>
            </div>

            <div class="col-lg-6" style="float: left; text-align: left">
                <strong>MECHANICS OF THE MINISTRY:</strong>
                <p>GOC is a place where ministry is constantly happening. The ministry is
                    structured into five main areas: Outreach, Welcome & Follow-up, Service & Helps, Music, and
                    Administration. Within these five areas are several student-led ministry teams that address specific
                    ministry needs. This vibrant setting gives students the opportunity to serve in a variety of
                    capacities and thus discover and cultivate their giftings and abilities for the glory of Jesus
                    Christ.
                </p>
            </div>
        </div>

        <!--Contact information-->
        <div ng-controller="ContactController">
            <div contact-info></div>
        </div>
        <!--end contact information-->
    </div>

</div>
<!-- /.container -->