<div class="col-lg-5">
    <h4 style="text-align: left"><strong><i class="fa fa-calendar"></i> Bible Study Events:</strong></h4>
    <iframe src="https://calendar.google.com/calendar/embed?title=C alendar&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;mode=AGENDA&amp;height=400&amp;width=inherit&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;showCalendars=0&amp;showDate=0&amp;showTitle=0&amp;src=csun.goc%40gmail.com&amp;color=%23691426&amp;ctz=America%2FLos_Angeles"
            style="border-width:0" width="100%" height="350" frameborder="0" scrolling="no">
    </iframe>
</div>