<div class="row" style="padding-bottom: 50px;">
    <div class="col-lg-3" style="text-align: left;">
        <p class="page-header">
            <i class="fa fa-map"></i>
            <strong> Directions and Parking</strong>
        </p>

        <p>
            <strong>Directions:</strong> <a target="_blank"
               href="https://www.google.com/maps/place/University+Student+Union/@34.2394894,-118.5288871,17z/data=!4m2!3m1!1s0x80c29a5679348193:0xfed672edf932c63">
            Google Map location</a>
            <br>
            <strong>Room Map:</strong>
            <a target="_blank" href="pdfs/USU_Map_Update_Summer_2016_acc.pdf"> USU, CSUN Map</a>
            <br>
            <strong>Parking:</strong>
            Free on Zelzah &amp; Prairie Streets
        </p>
    </div>
    <div class="col-lg-3" style="text-align: left;">
        <p class="page-header">
            <i class="fa fa-user"></i>
            <strong> Leadership</strong>
        </p>

        <p>
            <strong>Lead:</strong> Paul Pitts III
            <br>
            <strong>E-mail:</strong> <a href="mailto:csun.goc@gmail.com">csun.goc@gmail.com</a>
            <br>
            <strong>Phone:</strong> (818) 909-5705
        </p>
    </div>
    <div class="col-lg-3" style="text-align: left;">
        <p class="page-header">
            <i class="fa fa-home"></i>
            <strong> Grace Community Church</strong>
        </p>

        <p>
            <a target="_blank" href="https://www.gracechurch.org/"> www.gracechurch.org</a>
            <br>
            <strong>Phone:</strong> (818) 909-5500
        </p>
    </div>
    <div class="col-lg-3" style="text-align: left;">
        <p class="page-header">
            <i class="fa fa-users"></i>
            <strong> Crossroads Ministry</strong>
        </p>

        <p>
            <a target="_blank" href="https://www.gracechurch.org/crossroads"> Crossroads
                website</a>
            <br>
            College and Young Adult Ministry
            <br>
            <strong>Phone:</strong> (818) 909-5607
        </p>
    </div>
</div>