<div class="container">
    <div class="starter-template">
        <div class="jumbotron"
             style="background-image: url('img/logo-background-1110x450.png'); height: 10%; background-repeat: no-repeat;
             padding-bottom: 0px; background-color: white">
            <img src="img/logo2019.png" style="width: 40%; padding-bottom: 30px">
        </div>
        <!--wrapper-->
        <div class="row">
            <!--calendar-->
            <div ng-controller="CalendarController">
                <div ng-show="bibleStudyCalendar" calendar></div>
            </div>
            <!--end calendar-->

            <div class="col-lg-7">
                <h4 style="text-align: left"><strong><i class="fa fa-headphones"></i> Latest Sermons:</strong></h4>
                <iframe width="100%" height="350" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/173475002&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>

        <!--Contact information-->
        <div ng-controller="ContactController">
            <div contact-info></div>
        </div>
        <!--end contact information-->

        <!--version-->
        <div ng-controller="VersionController">
            <div version-info></div>
        </div>
        <!--end version-->
    </div>
</div>
<!-- /.container -->