
<div class="container">
    <div class="page-header">
        <h1><strong>Media</strong></h1>
    </div>
    <div class="starter-template">

        <div class="row">
            <div class="col-xs-12" style="float:left; text-align: left;">
                <h4><i class="fa fa-headphones"></i> <strong>Recordings:</strong></h4>
            </div>

            <!--BEGIN sermons-->
            <div class="col-lg-4" style="float:left; text-align: left;">
                <h5><strong>2017 Fall</strong></h5>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/436724121&color=%23edf20e&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
            <div class="col-lg-4" style="float:left; text-align: left;">
                <h5><strong>2017 Spring & Summer</strong></h5>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/353277623&color=%233ba2d6&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
            <div class="col-lg-4" style="float:left; text-align: left;">
                <h5><strong>2016 Fall</strong></h5>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/306678154&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
            <div class="col-lg-4" style="float:left; text-align: left;">
                <h5><strong>2016 Spring & 2015</strong></h5>
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/306678026&color=%23829097&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
        </div>

        <hr>
        <!--archive from old site-->
        <div class="row">
            <div class="col-xs-12" style="float:left; text-align: left;">
                <h4><i class="fa fa-archive"></i> <strong>Archived Sermons:</strong></h4>
                <iframe style="width: 100%; height: 700px;" frameborder="no" src="php/media.php"></iframe>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->