<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/" ng-click="collapseNavBar()">
            GRACE ON CAMPUS
        </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/" ng-click="collapseNavBar()"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#/about" ng-click="collapseNavBar()"><i class="fa fa-info-circle"></i> About Us</a></li>
            <li><a href="#/media" ng-click="collapseNavBar()"><i class="fa fa-headphones"></i> Media</a></li>
            <li><a target="_blank"
                   href="https://csungoc.weebly.com/men.html"
                   ng-click="collapseNavBar()"> <i class="fa fa-users"></i> Small Groups</a></li>
            <li><a target="_blank"
                   href="http://eepurl.com/dLPVVM"
                   ng-click="collapseNavBar()"> <i
                    class="fa fa-user-plus"></i> Email
                Registration</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>