
<div class="container">
    <div class="page-header">
        <h1><strong>Small Groups</strong></h1>
    </div>
    <div class="starter-template">
        <div class="row" style="text-align: left">
            <h1><strong>Men's</strong></h1>
        </div>
        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Anthony Gomez – Tuesdays, 6am</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> Starbucks on 17901 Chatsworth St, Granada Hills, CA 91344</h5>
                <div class="col-lg-3">
                    <img src="img/anthony-gomez2.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Hi guys! My name is Anthony, and this is my third year involved with GOC CSUN.
                        The Lord has used my time with small groups at CSUN to make me more like Jesus,
                        and it has given me chances to serve other men and call them to the saving grace of Jesus.
                        <br>
                        <br>
                        The focus of my study will be to deeply think through Thursday’s large group talk and see how we,
                        as men, can apply it into our lives. By examining what the Bible has to say about our lives,
                        I strongly believe that is how we can know Jesus deeply and be challenged to live for God’s glory
                        alone.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:alg016@bucknell.edu">alg016@bucknell.edu</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>John Park – Wednesdays, 7pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> CSUN Oviatt Library (Contact John for additional info)</h5>
                <div class="col-lg-3">
                    <img src="img/john-park2.png">
                </div>
                <div class="col-lg-9">
                    <strong>John Park</strong>
                    <p>
                        Hello everyone! My name is John Park, and I am a co-leader for the TRIBE. I teach 7th grade
                        English at a very awesome middle school in TO. Talk to me about anything ranging from movies,
                        jazz, food, coffees, sports or whatever.
                        <br>
                        <br>
                        Our small group focus this semester will be on the Pastoral Epistles chapter by chapter, a vital
                        portion of Scripture which teaches us the foundation of all pastoral ministry and thus the
                        church’s doctrine (1 and 2 Timothy) and discipleship (Titus). Come to the TRIBE and grow with
                        your true brothers in Christ.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:jsupark93@gmail.com">jsupark93@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Luke Kinzel – Thursdays, 6:30pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> CSUN USU (Freudian Sip Cafe)</h5>
                <div class="col-lg-3">
                    <img src="img/luke-kinzel2.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Hello! I work full time in accounting and project management for Princess Cruises and have been
                        involved at GOC CSUN for two years. I love studying the Bible, cycling, playing card games,
                        basketball, and being with people. I’ll be helping with the small group coordination at GOC
                        CSUN, let me know if I can help you get plugged in!
                        <br>
                        <br>
                        The goal of my small group is to foster discipleship and to apply God’s word practically in our
                        lives, to the glory of God and the furthering of His gospel. We will be discussing how to
                        practically apply the lessons learned from the Sermon on the Mount.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:lukekinzel@yahoo.com">lukekinzel@yahoo.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Trevor Guyle – Saturdays, 8:00am</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> Steeple House Coffee, <a href="https://www.google.com/maps/place/Steeple+House+Coffee/@34.220944,-118.4237237,17z/data=!4m12!1m6!3m5!1s0x80c296c933bd7209:0x840c95e16535137b!2sSteeple+House+Coffee!8m2!3d34.220944!4d-118.421535!3m4!1s0x80c296c933bd7209:0x840c95e16535137b!8m2!3d34.220944!4d-118.421535" target="_blank"> 13248 Roscoe Blvd, Sun Valley, CA 91352 </a></h5>
                <div class="col-lg-3">
                    <img src="img/trevor-guyle.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Hey guys! My name is Trevor Guyle and this is roughly my third year involved in CSUN GOC. I am
                        a Junior here at CSUN studying Linguistics (I love languages, so don't ask me about it if you'd
                        rather not be nerded out on). I also enjoy sports, hiking, good movies, good food, and good time
                        in God's word.
                        <br>
                        <br>
                        Small group is vital, and it is maybe the best place for us to grow and help others grow to know
                        and love Jesus more. Our small group focus will be on examining and thinking about the Thursday
                        night message from the Sermon on the Mount, helping each other and praying for each other as we
                        all seek the joy of applying Jesus' words to our everyday lives.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:tguyle2@gmail.com">tguyle2@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row page-header"></div>

        <!--women's-->
        <div class="row" style="text-align: left">
            <h1><strong>Women's</strong></h1>
        </div>
        <div class="row" style="text-align: left">
            <div class="col-lg-12" style="min-height: 220px">
                <h3 class="modal-header"><strong>Taylor Halstead – Mondays, 7pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> Grace Community Church (Grace Walk) - 13248 Roscoe Blvd., Sun Valley, CA 91352</h5>
                <div class="col-lg-3">
                    <img src="img/taylor-halstead.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Hello! My name is Taylor, and I’m out of school and working as a web content writer. This is
                        my second year involved at GOC CSUN, and small groups have been a crucial means by which the
                        Lord has grown in me a greater love for Him, His word, and fellow believers. The tentative plan
                        for this semester is to study the attributes of God, so that we can better worship God for who
                        He is and pursue Christlikeness in our daily lives.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:brookie992@gmail.com">brookie992@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Connie To – Tuesdays, 7pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> Porter Ranch, CA (Contact Connie for address)</h5>
                <div class="col-lg-3">
                    <img src="img/connie-to.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Hey everyone! My name is Connie, and I have been a small group leader at GOC CSUN for about 4
                        years now. I graduated from CSUN last year and am now working as a Sales Director at The Parks
                        Apparel. Some of my favorite things to do when I have free time is: enjoying coffee, playing
                        basketball, and going to the beach.
                        <br>
                        <br>
                        In my small group, we will be studying the book of Proverbs. My hope for our small group is to
                        gain an understanding of wisdom and how to practice wisdom in our daily lives. The Lord has
                        grown me so much through leading a small group and has shown me the importance of discipleship
                        among believers. I hope that you will get plugged into a small group and experience the
                        benefits of it.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:to.connie40@gmail.com">to.connie40@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: left; ">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Julia Dandurand – Wednesdays, 7pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> Van Nuys, CA (Contact Julia for address)</h5>
                <div class="col-lg-3">
                    <img src="img/julia-dandurand.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Sup. My name is Julia, and I am a grad student studying and teaching math at CSUN. I love
                        having family and friends over for food, fellowship, and fun. I have appreciated the ministry
                        of GOC CSUN throughout my undergrad and grad years, and am happy to serve in any way I can! I
                        Iook forward to co-leading our small group with Haine this year.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:julia.dandurand.7@my.csun.edu">julia.dandurand.7@my.csun.edu</a>
                    </p>
                </div>
            </div>
        </div>
        <br>

        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Haine Choi – Wednesdays, 7:15pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> Granada Hills, CA (Contact Haine for address)</h5>
                <div class="col-lg-3">
                    <img src="img/haine-choi.png">
                </div>
                <div class="col-lg-9">
                    <p>
                        Hi, my name is Haine Choi! I graduated from UCLA and currently work in an ophthalmology office.
                        I like working out, hanging out, and chilling out. My favorite movie is Gladiator, and I take
                        my coffee with no cream.
                        <br>
                        <br>
                        Julia and I are excited to co-lead small group together this year. We are interested in
                        studying the book of Hebrews. We are also eager to make new friends! So join us, and come
                        say hi!
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:haine.choi@gmail.com">haine.choi@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <h3 class="modal-header"><strong>Amy Barnes & Heidi Vacaflor – Fridays, 7pm</strong></h3>
                <h5 style="padding-left: 15px"><i class="fa fa-map-marker-alt"></i> <strong>Meeting Place:</strong> San Fernando, CA (Contact Heidi for address)</h5>
                <div class="col-lg-3">
                    <img src="img/amy-barnes.png">
                </div>
                <div class="col-lg-9">
                    <strong>Amy Barnes</strong>
                    <p>
                        Hi everyone! My name is Amy Barnes. This is my third year attending Grace on Campus and my
                        final semester as a business law student at CSUN. When I'm not writing briefs, I enjoy reading
                        works of both fiction and non-fiction, working out, drinking coffee, playing catch, and most
                        importantly, spending time--doing just about anything--with people.
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:amyh.b.isme@gmail.com">amyh.b.isme@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="text-align: left">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <img src="img/heidi-vacaflor.png">
                </div>
                <div class="col-lg-9">
                    <strong>Heidi Vacaflor</strong>
                    <p>
                        I'm Heidi, and I'm a grad student studying speech language pathology. When I'm not giving speech
                        therapy, I enjoy quality time with friends like getting brunch.
                        <br>
                        <br>
                        This year, Amy and I will be co-leading the small group. Our mission is "to magnify and worship
                        our Lord Jesus Christ, and to meet the needs (confession, repentance, and encouragement) of our
                        sisters in leading them towards their Savior." This spring semester, our small group will be
                        going over Biblical confession to God and repentance through various passages in Scripture
                        (Psalm 32 & Psalm 51; James 5:16; 1 John 1:9)
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> <strong>Contact:</strong> <a href="mailto:heidi.vacaflor.213@my.csun.edu">heidi.vacaflor.213@my.csun.edu</a>
                    </p>
                </div>
            </div>
        </div>

        <!--Contact information-->
        <div ng-controller="ContactController">
            <div contact-info></div>
        </div>
        <!--end contact information-->
    </div>

</div>
<!-- /.container -->