<div class="row" style="background-color: gainsboro; font-size: x-small; border-radius: 3px;">
    <div class="col-lg-6" style="text-align: left; padding: 5px; float:left;">
        Using <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>,
        <a target="_blank" href="https://angularjs.org/">AngularJS 1</a>,
        <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/">FontAwesome </a>
    </div>
    <div class="col-lg-6" style="text-align: right; font-style: italic; padding: 5px; float: right;">
        <a href="http://www.csungoc.com">www.csungoc.com</a> - ver. {{version}}
    </div>
</div>